<header>
		<div class="share-header">
			<div class="h-contents">
				<div class="h-component">
					<div class="h-component-h1">地元の掲示板 Suchmos</div>
				</div>
				<div class="h-flex-component">
					<div class="number-of-data">
						<a class="click-link-black" href="">00000000件 5/18日更新 地元の掲示板 Suchmos</a>
					</div>
					<div class="h-a-flex">
						<a class="begnner" href="">初めての方へ</a> <a class="login-button"
							rel="nofollow" href="">ログイン</a>
						<div class="h-regist-button">
							<a class="r-buttom" rel="nofollow" href="">会員登録</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

<h3>編集ページ</h3>
<tr>
    <td align="right"><b> 新しい名前：</b></td>
    <td><input type="text" name="name" size="30" maxlength="20" autocomplete="nope"></td>
  </tr>
  <br>
  <tr>
    <td align="right"><b> 新しいパスワード：</b></td>
    <td><input type="password" name="pass" size="6" maxlength="4"></td>
  </tr>
  <tr>

<footer>
		<ul>
			<li>
				<a target="_blank" href="">利用規約</a>
			</li>
			<li>

				|

				<a target="_blank" href="">プライバシーポリシー</a>
			</li>
			<li>

				|

				<a target="_blank" href="">健康課に資する運用方針</a>
			</li>
			<li>
				|
				<a target="_blank" href="">お問い合わせ</a>
			</li>
			<li>

				|

				<a target="_blank" href="">運営会社</a>
			</li>
			<li>

				|

				<a target="_blank" href="">サイトマップ</a>
			</li>
			<li>

				|

				<a target="_blank" href="">特定商取引法の表示</a>
			</li>
			<div class="copyright">
			COPYRIGHT (C) 2011 - 2019 Jimoty, Inc. Shut up and listen.
			</div>
		</ul>
	</footer>