@charset "UTF-8";
body{
	background:white
}

.new_post_btn {
    display: inline-block;
    font-size:18px;
    width:250px;
    height:70px;
    margin-left:27px;
    margin-bottom:20px;
    margin-top:20px;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #668ad8;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 8px;
    cursor: pointer;
    
  }

#sample {
    padding:10px;
    margin-bottom:10px;
    width:300px;
   }
   #sample .text {
    width:176px;
    height:30px;
    border:5px solid grey;
    border-bottom:6px solid grey;
    text-indent:10px;
   }
   #sample .btn {
    height:43px;
    border-bottom:6px solid grey;
    border:5px grey;
    color:white;
    width:50px;
    background:#000066;
    margin-left:-9px;
    margin-top:-1px;
   }


   div#submenu{
       width:250px;			/*幅の指定*/
       margin:10px 50px 10px 25px;	/*位置調整（IE6のバグに注意）*/
       display:inline-block;			/*IE6のマージン算出のバグ対策*/
       float: left;			/*サブメニューのカラムを左寄せにする*/
   }
   /*サブメニューのヘッダ部分（余白調整・背景画像・背景色・文字サイズなど）*/
   div#submenu_header {

       width:250px;
       height:26px;
       padding:4px 0px 0px 0px;
       background-image:url("images/bg_submenu_header.gif");
       background-repeat:no-repeat; background-position:top;
       background-color:white;
       font-size:90%; font-weight:bold; text-align:left;
       border-radius:0px;
       font-size:20px;
       position: relative;
     padding: 0.3em;
   }

   div#submenu_header:after {
     content: '';
     position: absolute;
     left: 0;
     bottom: 0;
     width: 100%;
     height: 7px;
     background: repeating-linear-gradient(-45deg, skyblue, skyblue 2px, white 2px, white 4px);
   }

   /*サブメニューのボディ部分（余白調整・背景画像・背景色）*/
   ul#submenu_body {
       width:250px;
       padding:15px;
       background-image:url("images/bg_submenu_footer.gif");
       background-repeat:no-repeat; background-position:bottom;
       background-color:#D3DEF1;
       border:solid 1px #c0c0c0;
       border-radius: 0px;
   }
   ul#submenu_body li {
       font-size:90%;			/*文字サイズを90%にする*/
       /*list-style-type:none;		/*リストマーカー無しにする*/
       display:inline;			/*リスト項目をインライン表示にする*/
   }
   ul#submenu_body a {
       display:inline-block;			/*リンクをブロック表示にする*/
       font-family: 'M PLUS Rounded 1c', sans-serif;
       margin:7px;		/*サブメニュー項目のマージン*/
       padding:10px;	/*サブメニュー項目のパディング*/
       background-color:#ebb9a0;	/*サブメニュー項目の背景色*/
       text-decoration:none;/*リンクの下線を無くす*/
       border-radius:10px;
   }
   ul#submenu_body li a:hover {
       background-color:#ebb9a0;	/*リンクにマウスが乗ったら色を変える*/
   }

   ul#submenu_body li a:before {
       font-family:"Font Awesome 5 Brands";
    content:url(tagicon4.png);
    font-weight:400;
    color:#008db7;
    padding-right:6px;	/*リンクにマウスが乗ったら色を変える*/
   }

   .prof_image {
       float:left;
   }

   .onePost {
       width:550px;
       height:80px;
       margin:10px 300px 0px 10px;
       background:#f5f3f2;
       padding: 10px 10px 30px 10px;
       border-bottom: solid 1px #999999;
       float:right;
   }

   .onePost:hover {
       background-color:#cccccc;
       cursor:pointer;
   }

   .title {

       font-size:15px;
   }


   .post_date {
       color:gray;
       font-size:12px;
       font-weight:bold;
       float:right;
   }


   .from_area {
       float:right;
       color:gray;
       font-size:12px;
       margin-right:10px;
       font-weight:bold;
   }


   .follower {
       display:inline-block;
       color:gray;
       font-size:12px;
       font-weight:bold;
   }

   .cate {
       display:inline-block;			/*リンクをブロック表示にする*/
       font-size:12px;
       margin:7px 7px 20px 7px;		/*サブメニュー項目のマージン*/
       padding:10px;	/*サブメニュー項目のパディング*/
       background-color:#ebb9a0;	/*サブメニュー項目の背景色*/
       text-decoration:none;/*リンクの下線を無くす*/
       border-radius:10px;
       float:right;
       color:#008db7
   }

   .cate:before {
       font-family:"Font Awesome 5 Brands";
    content:url(tagicon4.png);
    font-weight:400;
    color:#008db7;
    padding-right:6px;	/*リンクにマウスが乗ったら色を変える*/
   }

   div#search_body {
       float:left;
       width:250px;
       height:100px;
       text-align:left;
       background-color:#D3DEF1;
       border:solid 1px #c0c0c0;
       padding:10px 0 15px 25px;
       border-radius:0px;
   }

   #sbtn1 {
       float:right;
     display       : inline-block;
     margin:0 15px 150px 0;
     border-radius : 12%;          /* 角丸       */
     font-size     : 10pt;        /* 文字サイズ */
     text-align    : center;      /* 文字位置   */
     cursor        : pointer;     /* カーソル   */
     padding       : 12px 12px;   /* 余白       */
     background    : #000066;     /* 背景色     */
     color         : #ffffff;     /* 文字色     */
     line-height   : 0.5em;         /* 1行の高さ  */
     transition    : .3s;         /* なめらか変化 */
     box-shadow    : 3px 3px 1px #666666;  /* 影の設定 */
     border        : 2px solid #999999;    /* 枠の指定 */
   }
   #sbtn1:hover {
     box-shadow    : none;        /* カーソル時の影消去 */
     color         : #000066;     /* 背景色     */
     background    : #ffffff;     /* 文字色     */
   }

   #search_header {
       width:250px;
       height:26px;
       padding:4px 0px 0px 0px;
       margin:50px 10px 10px 0;
       background-image:url("images/bg_submenu_header.gif");
       background-repeat:no-repeat; background-position:top;
       background-color:white;
       font-size:90%; font-weight:bold; text-align:left;
       border-radius:10px;
       font-size:20px;
       position: relative;
     padding: 0.3em;
   }

   #search_header:after {
     content: '';
     position: absolute;
     left: 0;
     bottom: 0;
     width: 100%;
     height: 7px;
     background: repeating-linear-gradient(-45deg, skyblue, skyblue 2px, white 2px, white 4px);
   }



.pulldown_area_category {
	overflow: hidden;
	margin:15px;
	text-align: center;
}
.pulldown_area_category select {
	padding-right: 1em;
	cursor: pointer;
	text-indent: 0.01px;
	text-overflow: ellipsis;
	border: none;
	outline: none;
	background: transparent;
	background-image: none;
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;
}

.pulldown select {
	width:200px;
	padding: 8px 38px 8px 8px;
	color: #666666;
}





   .area_name {
       font-size:14px;
       font-weight:bold;
       margin-top:5px;
       margin-bottom:5px;
   }

   .onePost_1 {

   height:50px;
   }

   .a {
   float:left;
   margin-top:27px;

   }

   ul {
   list-style: none;
   }