.login{
    text-align: center;
}

.remenber_info input{
    width:20px;
    height:10px;
}


.actions_login input{
background-color: rgb(255, 153, 0);
font-size:15px;
font-weight: bold;
margin-top:10px;
margin-bottom:50px;
}