@charset "UTF-8";

body {
	color:#000;
	margin:0;
	margin-top:50px;
}
header{
	position: fixed;
	top: 0;
	width: 100%;
	height: 30px;
}
.h-contents{
	height:30px;
	line-height:30px;
}
.share-header{
	background:#3BB300;
}
.h-component{
	font-size: 10px;
    display: -webkit-inline-box;
    color:#FFF;
    padding-left:220px;
}
.h-flex-component{
	display: -webkit-inline-box;
	line-height:23px;
	padding-left: 390px;
}

.number-of-data{
	font-weight:400;
	margin-right:5px;
	font-size:10px;
	display:inline-block;
}
.click-link-black {
	color:#333;
	text-decoration:none;
	color:#B1E199;
 }
 .h-a-flex{
 	font-size: 0.75rem;
 	display: -webkit-inline-box;
 }
 .begnner{
 	color: #FFF;
 	font-weight:600;
 	text-decoration:none;
 }
 .login-button{
 	color: #FFF;
 	font-weight:600;
 	text-decoration:none;
 }
 .h-regist-button{
 	line-height:23px;
 	height:23px;
 	border:1px solid #F58123;
 	border-radius: 4px;
 	background:#FFF;
	margin-left:5px;
 }
 .r-buttom{
 	font-weight:600;
 	color:#F58123;
 	text-decoration:none;
 	margin-top:3px;
 	padding:16px;
 }
//ここからfooter
 footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 50px;
	font-size: 11px;
    background-color: #EEEEEF;
    color: #9E9E9F;
    padding: 10px;
    
}
footer ul{
	text-align:center;
}

footer li{
	list-style: none;
    display: inline-block;
}
footer a{
	text-decoration:none;
	color:#1C53C3;
}
.copyright{
	margin: 15px;
    font-size: 10px;
    text-align: center;
}

